@import "variables";

:host {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  height: 100%;
  width: 100%;

  background-color: $dark-blue;

  .advice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 400px;
    width: 800px;
    padding: 48px;
    box-shadow: 32px 32px 32px 5px $box-shadow-dark;
    border-radius: 16px;

    background-color: $dark-grayish-blue;

    .loading {
      color: $neon-green;
      font-size: 4rem;
    }

    .id,
    .advice {
      font-size: 1.5rem;
      text-align: center;
    }

    .id {
      color: $neon-green;
      letter-spacing: 4px;
      margin-bottom: 32px;
    }

    .advice {
      color: $light-cyan;
      font-size: 2rem;
      flex: 1;
    }

    .fetch-advice {
      width: 260px;
      padding: 16px 32px;
      border: none;
      border-radius: 24px;
      background-color: $neon-green;
      font-size: 1.5rem;
      color: $purple;
      cursor: pointer;
      transition: 200ms;

      &:hover {
        background-color: $neon-green;
      }
    }
  }
}
